/*NAV*/
nav {
  color: crimson;
  background-color: rgb(36, 36, 36);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 55px;
  justify-content: center;
  padding-left: 10px;
  height: auto;
}
.logo img {
  width: 100%;
  height: auto;
}
.menu {
  justify-content: center;
  padding-right: 20px;
}
.fas.fa-bars {
  font-size: 30px;
  color: black;
}
a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/*FIN NAV*/
/*HEADER*/

header {
  display: flex;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
  margin: 35px 100px;
}
.banner img {
  width: 100%;
  height: auto;
}
/*FIN HEADER*/
/*1° DIV*/
.somos {
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.linkedin,
.git {
  width: 60px;
  height: auto;
}
.linkedin img,
.git img {
  width: 100%;
  height: auto;
}
.logoDos {
  width: 60px;
  height: auto;
  margin-right: 60px;
}
.logoDos img {
  width: 100%;
  height: auto;
}
.logos {
  display: flex;
  margin-left: 35px;
}
.texto {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
  color: crimson;
}
p {
  text-align: left;
  width: 800px;
}
#github {
  margin-left: 20px;
}

#logoImg {
  margin-right: 25px;
}
/*FIN 1° DIV*/
/*2° DIV*/
.perfiles {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}
.avatar,
.nombres {
  display: flex;
  width: 170px;
  height: 170px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: crimson;
  text-align: center;
  align-items: center;
  z-index: 1;
}
.perfiles img {
  width: 100%;
  height: auto;
  margin-right: 25px;
}
.nombre-oculto {
  display: block;
  position: relative;
  top: 25px;
  background-color: rgb(189, 189, 189);
  border-radius: 20%;
  padding: 10px;
  z-index: 2;
}
.trabajo {
  display: block;
  position: relative;
  bottom: 30px;
  background-color: rgb(189, 189, 189);
  border-radius: 20%;
  padding: 10px;
  z-index: 2;
}
/*FIN 2° DIV*/
/*FOOTER*/
footer {
  display: flex;
  background-color: rgb(36, 36, 36);
  height: 45px;
  color: crimson;
  align-items: center;
  justify-content: space-between;
}
:visited {
  color: crimson;
}
.email img {
  width: 15px;
  margin-right: 5px;
}
.email {
  font-size: 15px;
  margin-left: 30px;
}
.redes {
  display: flex;
  margin-right: 30px;
}
.logoRedes {
  width: 15px;
  height: auto;
  margin-right: 10px;
}
.logoRedes img {
  width: 100%;
  height: auto;
}
/*FIN FOOTER*/
@media (min-width: 600px) {
  .fas.fa-bars {
    display: none;
  }
  .nombre-oculto {
    display: none;
  }
  .trabajo {
    display: none;
  }
}
@media (max-width: 600px) {
  .home {
    display: none;
  }
  .logoDos,
  .logos {
    display: none;
  }
  .perfiles {
    flex-wrap: wrap;
  }
  header {
    width: 100%;
    /* align-content: flex-end; */
  }
  .nombres {
    display: none;
  }
  footer {
    flex-direction: column;
    justify-content: space-around;
    height: 60px;
  }
  .email {
    margin-right: 35px;
  }
}
/*nombres cuando el perfil va en wrap*/
/*header div somos no cambia*/

/* @font-face {
font-family: FemomenalSansBold;
src: url(FenomenalSansBold.woff);
} 
.main {
font-family: FemomenalSansBold;
}
linkear de un recurso web una typo que no tenga el usuario en su pc
*/

/* border-radius para redondear puntas de cajas */
