nav {
  color: crimson;
  background-color: black;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 55px;
  justify-content: center;
  padding-left: 10px;
  height: auto;
}
.logo img {
  width: 100%;
  height: auto;
}

.menu {
  justify-content: center;
  padding-right: 20px;
}

header {
  display: flex;
  justify-content: center;
}
a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#banner {
  margin-top: 35px;
  margin-bottom: 35px;
}

.somos {
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.linkedin,
.git {
  width: 60px;
  height: auto;
}
.linkedin img,
.git img {
  width: 100%;
  height: auto;
}

.logoDos {
  width: 60px;
  height: auto;
}

.logoDos img {
  width: 100%;
  height: auto;
}
.logos {
  display: flex;
  margin-right: -35px;
}
.texto {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
  color: crimson;
}
p {
  width: 800px;
}
#link {
  margin-left: -10px;
}

#logoImg {
  margin-left: -35px;
}

.perfiles {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}
.avatar {
  width: 170px;
  height: auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: crimson;
}

.perfiles img {
  width: 100%;
  height: auto;
}

footer {
  background-color: black;
  height: 30px;
}

@media (min-width: 600px) {
  #menu {
    display: none;
  }
}
